# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Data (usar DVC)
data/raw/
data/processed/
data/chroma_db/

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
coverage.xml
test-results.xml

# DVC
/data/raw/*.csv
/data/raw/*.parquet
.dvc_storage/
